*.egg-info
*.pyc
build/
datasets/
MetaGPT/
logs/
configs/

pyrightconfig.json

# compilation and distribution
__pycache__
_ext
*.so
medcs.egg-info/
dist/

# pytorch/python/numpy/R formats
*.pth
*.pkl
*.npy
*.Rhistory


# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~


# Pycharm editor settings
.idea

# vscode editor settings
.vscode

# MacOS
.DS_Store